<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create New Bus</title>
</head>
<body>
<h1>New Bus Form</h1>

<form th:action="@{/bus}" th:object="${bus}" method="post">
  <div>
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{id}" />
  </div>
  <div>
    <label for="registrationNumber">Registration Number:</label>
    <input type="text" id="registrationNumber" th:field="*{registrationNumber}" />
  </div>
  <div>
    <label for="capacity">Capacity:</label>
    <input type="number" id="capacity" th:field="*{capacity}" />
  </div>

  <div>
    <button type="submit">Create Bus</button>
  </div>
</form>
</body>
</html>