<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Driver Form</title>
    <link rel="stylesheet" th:href="@{/css/formstyle.css}">
</head>
<body style="color: #333;">
<div class="form-container">
    <h1 th:text="${driver.id == null} ? 'Create New Driver' : 'Edit Driver'">Driver Form</h1>

    <form th:action="${driver.id == null} ? @{/driver/create} : @{'/driver/' + ${driver.id}}" th:object="${driver}" method="post">
        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" th:field="*{id}" th:attrappend="readonly=${driver.id != null} ? 'readonly'" />
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" />
        </div>
        <div>
            <label for="yearsOfExperience">Years of Experience:</label>
            <input type="text" id="yearsOfExperience" th:field="*{yearsOfExperience}" />
        </div>

        <div>
            <button type="submit" th:text="${driver.id == null} ? 'Create Driver' : 'Save Changes'">Submit</button>
        </div>
    </form>
</div>
</body>
</html>