<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Route</title>
    <link rel="stylesheet" th:href="@{/css/formstyle.css}">
</head>
<body style="color: #333;">
<div class="form-container">
    <h1>New Route Form</h1>

    <form th:action="@{/route}" th:object="${routes}" method="post">

        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" th:field="*{id}" />
        </div>

        <div>
            <label for="originId">Origin (BusStation ID):</label>
            <input type="text" id="originId" name="originId" th:field="*{origin}" />
        </div>

        <div>
            <label for="destinationId">Destination (BusStation ID):</label>
            <input type="text" id="destinationId" name="destinationId" th:field="*{destination}" />
        </div>

        <div>
            <label for="distance">Distance (km):</label>
            <input type="number" step="0.01" id="distance" name="distance" th:field="*{distance}" />
        </div>

        <div>
            <label for="nrOfStations">Number of Stations:</label>
            <input type="number" id="nrOfStations" name="nrOfStations" th:field="*{nrOfStations}" />
        </div>

        <div>
            <button type="submit">Create Route</button>
        </div>
    </form>
</div>
</body>
</html>