<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${isEditMode == true} ? 'Edit Trip Manager' : 'Create New Trip Manager'">Trip Manager Form</title>
    <link rel="stylesheet" th:href="@{/css/formstyle.css}">
</head>
<body>
<div class="form-container">

    <h1 th:text="${isEditMode == true} ? ('Edit Trip Manager (' + ${tripmanager.id} + ')') : 'New Trip Manager Form'">Trip Manager Form</h1>

    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="${isEditMode == true} ? @{'/tripmanager/' + ${tripmanager.id}} : @{/tripmanager/create}"
          th:object="${tripmanager}" method="post">

        <div>
            <label for="id">ID:</label>
            <input type="text" id="id" th:field="*{id}"
                   th:readonly="${isEditMode == true}"
                   th:classappend="${(isEditMode == true ? 'readonly-field ' : '') + (errorField == 'id' ? 'input-error' : '')}"
                   required />
        </div>

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required />
        </div>

        <div>
            <label for="employeeCode">Employee Code:</label>
            <input type="text"
                   id="employeeCode"
                   th:field="*{employeeCode}"
                   th:classappend="${errorField == 'employeeCode'} ? 'input-error' : ''"
                   required />
        </div>

        <div>
            <button type="submit" th:text="${isEditMode == true} ? 'Update Trip Manager' : 'Create Trip Manager'">Submit</button>
        </div>
    </form>
</div>
</body>
</html>